:root {
    --bg-circle-1: #5C3C35;
    --bg-circle-2: #6E171D;
    --bg-circle-3: #48322A;
    --color-card-2: #6E171D;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 595px;
    height: 842px;
    margin: 100px auto;
    background-color: #fff;
    display: grid;
    align-content: space-between;
    position: relative;
    grid-template-rows: 110px 657px 75px;
}

header {
    display: grid;
    height: 110px;
    width: 100%;
    grid-template-columns: 194px 126px 72px;
    justify-content: end;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: var(--bg-circle-2);
    border-radius: 50%;
    position: relative;
    margin: 44px auto;
}

.circle::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bg-circle-2);
    position: absolute;
    top: -18px;
}
  
.circle::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bg-circle-2);
    position: absolute;
    bottom: -18px;
}

.procent {
    font-size: 66px;
    color: var(--color-card-2);
    font-weight: 900;
    display: grid;
    align-items: center;
}

.text-header-footer {
    font-size: 12px;
    display: grid;
    color: var(--color-card-2);
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

footer {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    height: 75px;
    width: 100%;
    align-content: center;
    z-index: 5;
}

.ract-gray {
    width: 478px;
    height: 654px;
    background-color: #E4E4E6;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

main {
    z-index: 3;
    position: relative;
    display: grid;
    justify-content: center;
    color: #fff;
}

.block-lines {
    display: grid;
    gap: 15px;
    top: 288px;
    position: absolute;
    width: 100%;
}

.line {
    height: 40px;
    background-color: var(--color-card-2);
}

.block-img {
    width: 448px;
    height: 657px;
    background-image: url(../img/card_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-rows: 72px 44px 1fr;
    align-items: end;
    padding-left: 33px;
}

img {
    width: 283px;
    height: 38px;
}

.fashion {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.block-text {
    margin-bottom: 45px;
    font-size: 12px;
}

.vert {
    display: block;
    writing-mode: sideways-lr;
    position: absolute;
    height: 410px;
    right: 22px;
    bottom: 34px;
    opacity: 0.5;
}