:root {
    --color-card-1: #5C3C35;
    --color-card-2: #6E171D;
    --color-card-3: #48322A;

    --img-1: url(../img/card_1.png);
    --img-2: url(../img/card_2.png);
    --img-3: url(../img/card_3.png);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    gap: 40px;
    justify-content: center;
    margin: 65px 0;
}

.card {
    min-width: 560px;
    width: 595px;
    height: 842px;
    background-color: #fff;
    display: grid;
    position: relative;
    grid-template-rows: 110px 657px 75px;
    box-shadow: 0px 8px 10px #b4b4b4;
}

header {
    display: grid;
    height: 110px;
    width: 100%;
    grid-template-columns: 194px 126px 72px;
    justify-content: end;
    align-items: center;
}

.color-text-1 {
    color: var(--color-card-1);
}

.color-text-2 {
    color: var(--color-card-2);
}

.color-text-3 {
    color: var(--color-card-3);
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.circle-color-1 {
    background-color: var(--color-card-1);
}

.circle-color-2 {
    background-color: var(--color-card-2);
}

.circle-color-3 {
    background-color: var(--color-card-3);
}

.circle::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    top: -18px;
}
  
.circle::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    bottom: -18px;
}

.procent {
    font-size: 66px;
    font-weight: 900;
    display: grid;
    align-items: center;
}

.text-header-footer {
    font-size: 12px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    height: 75px;
    width: 100%;
    align-content: center;
    z-index: 5;
}

.ract-gray {
    width: 478px;
    height: 654px;
    background-color: #E4E4E6;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

main {
    z-index: 3;
    position: relative;
    display: grid;
    justify-content: center;
    color: #fff;
}

.block-lines {
    display: grid;
    gap: 15px;
    top: 288px;
    position: absolute;
    width: 100%;
}

.line-1 {
    height: 40px;
    background-color: var(--color-card-1);
}

.line-2 {
    height: 40px;
    background-color: var(--color-card-2);
}

.line-3 {
    height: 40px;
    background-color: var(--color-card-3);
}

.block-img {
    width: 448px;
    height: 657px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-rows: 72px 44px 1fr;
    align-items: end;
    padding-left: 33px;
}

.img1 {
    background-image: var(--img-1);
}

.img2 {
    background-image: var(--img-2);
}

.img3 {
    background-image: var(--img-3);
}

img {
    width: 283px;
    height: 38px;
}

.fashion {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.block-text {
    margin-bottom: 45px;
    font-size: 12px;
}

.vert {
    display: block;
    writing-mode: sideways-lr;
    position: absolute;
    height: 410px;
    right: 22px;
    bottom: 34px;
    opacity: 0.5;
}

.mrg-left {
    margin-left: 83px;
}